@page
@model IS7024_Project.Pages.CrimeModel
@{
    ViewData["Title"] = "Crime Details";
    var crimes = (QuickTypeCrimes.Crime[])ViewData["Crime"];
}

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("crimetable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            // [6] is the seventh row of the table -- in this case it is zip code
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                    // display nothing if search doesnt have a return value
                }
            }
        }
    }
</script>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter Zip Code">



<div class="text-center">
    <h1 class="featurette-heading" style="color:crimson">Crime Information</h1>
    <table id="crimetable" class="table table-bordered">

        <tr>
            <th>Date of Report</th>
            <th>Type</th>
            <th>Weapon Involvement</th>
            <th>Location</th>
            <th>Neighborhood</th>
            <th>Address</th>
            <th>Zip Code</th>
        </tr>


 @{
foreach (QuickTypeCrimes.Crime crime in crimes)
            {
        <tr>
            <td>@crime.DateReported</td>
            <td>@crime.Offense</td>
            <td>@crime.Weapons</td>
            <td>@crime.Location</td>
            <td>@crime.CpdNeighborhood</td>
            <td>@crime.AddressX</td>
            <td>@crime.Zip</td>
        </tr>
            }
        }
    </table>
</div>


