@page
@model IS7024_Project.Pages.CrimeModel
@{
    ViewData["Title"] = "Crime Details";
    var crimes = (QuickTypeCrimes.Crime[])ViewData["Crime"];
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/Stylepage.css" />
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("crimetable");
            tr = table.getElementsByTagName("tr");
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                alltags = tr[i].getElementsByTagName("td");
                isFound = false;
                for (j = 0; j < alltags.length; j++) {
                    td = alltags[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            j = alltags.length;
                            isFound = true;
                        }
                        else {
                            tr[i].style.display = "none";
                        }
                    }

                }
            }
        }
    </script>
</head>
<body>
    <div class="text-center">
        <h11 class="featurette-heading">Crime Information</h11>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Date, Crime Type, Neighborhood, Address, or Zip Code"><hr />
        <table id="crimetable" class="table table-bordered border-primary">
            <tr>
                <th>Address</th>
                <th>Zip Code</th>
                <th>Neighborhood</th>
                <th>Report Date & Time(EST)</th>
                <th>Crime Type</th>
                <th>Weapon Involvement</th>
            </tr>
            @{
                foreach (QuickTypeCrimes.Crime crime in crimes)
                {
                    <tr>
                        <td>@crime.AddressX</td>
                        <td>@crime.Zip</td>
                        <td>@crime.CpdNeighborhood</td>
                        <td>@crime.DateReported</td>
                        <td>@crime.Offense</td>
                        <td>@crime.Weapons</td>
                    </tr>
                }
            }

        </table>
        </div>
</body>
</html>