@page
@model IS7024_Project.Pages.CrimeModel
@{
    ViewData["Title"] = "Crime Details";
    var crimes = (QuickTypeCrimes.Crime[])ViewData["Crime"];
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/Stylepage.css" />

</head>
<body>
    <div class="text-center">

        <h1 class="featurette-heading">Crime Information</h1>
        <input type="text" id="CrimeInput" onkeyup="myFunctionCrime()" placeholder="Search by Date, Crime Type, Neighborhood, Address, or Zip Code"><hr />
        <table id="crimetable" class="table table-bordered border-primary">
            <tr>
                <th>Address</th>
                <th>Zip Code</th>
                <th>Neighborhood</th>
                <th>Report Date & Time(EST)</th>
                <th>Crime Type</th>
                <th>Weapon Involvement</th>
            </tr>
            @{
                foreach (QuickTypeCrimes.Crime crime in crimes)
                {
                    <tr>
                        <td>@crime.AddressX</td>
                        <td>@crime.Zip</td>
                        <td>@crime.CpdNeighborhood</td>
                        <td>@crime.DateReported</td>
                        <td>@crime.Offense</td>
                        <td>@crime.Weapons</td>
                    </tr>
                }
            }

        </table>
        </div>
</body>
</html>