@page
@model IS7024_Project.Pages.CrimeModel
@{
    ViewData["Title"] = "Crime Details";
    var crimes = (QuickTypeCrimes.Crime[])ViewData["Crime"];
}

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("crimetable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            alltags = tr[i].getElementsByTagName("td");
            isFound = false;
            for (j = 0; j < alltags.length; j++) {
                td = alltags[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        j = alltags.length;
                        isFound = true;
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }

            }
        }
    }
    
        /// the above filter function removes the column tags upon search. not sure how to fix this just yet. ^^^^^^^^^^^^^^^^^^
   
</script>


<div class="text-center">
    <h1 class="featurette-heading" style="color:midnightblue">Crime Information</h1>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Date, Crime Type, Neighborhood, Address, or Zip Code">


    <table id="crimetable" class="table table-bordered border-primary">
        <tr>
            <th>Date of Report</th>
            <th>Type</th>
            <th>Weapon Involvement</th>
            <th>Location</th>
            <th>Neighborhood</th>
            <th>Address</th>
            <th>Zip Code</th>
        </tr>
        @{
            foreach (QuickTypeCrimes.Crime crime in crimes)
            {
                <tr>
                    <td>@crime.DateReported</td>
                    <td>@crime.Offense</td>
                    <td>@crime.Weapons</td>
                    <td>@crime.Location</td>
                    <td>@crime.CpdNeighborhood</td>
                    <td>@crime.AddressX</td>
                    <td>@crime.Zip</td>
                </tr>
            }
        }
    </table>
</div>

