@page
@model IS7024_Project.Pages.HealthcareModel
@{
    ViewData["Title"] = "Healthcare Details";
    var healthcares = (HealthcareCenter.Healthcare[])ViewData["Healthcare"];
}

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("healthcaretable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            alltags = tr[i].getElementsByTagName("td");
            isFound = false;
            for (j = 0; j < alltags.length; j++) {
                td = alltags[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        j = alltags.length;
                        isFound = true;
                    }
                }
            }
            if (!isFound && tr[i].className !== "header") {
                tr[i].style.display = "none";
            }
        }
    }

        /// the above filter function removes the column tags upon search. not sure how to fix this without breaking it just yet. ^^^^^^^^^^^^^^^^^^
   
</script>





<div class="text-center">
    <h1 class="featurette-heading" style="color:midnightblue">Healthcare Locations</h1>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a Facility by Neighborhood, Street, or Zip Code">
    <table id="healthcaretable" class="table table-bordered">

        <tr>
            <th>Healthcare Center<br />
            <th>Neighborhood</th>
            <th>Services</th>
            <th>Street Name</th>
            <th>City</th>
            <th>Zip Code</th>

        </tr>
        @{
            foreach (HealthcareCenter.Healthcare healthcare in healthcares)
            {
                <tr>




                    <td>@healthcare.HealthCenter</td>
                    <td>@healthcare.Neighborhood</td>
                    <td>@healthcare.ServicesProvided</td>
                    <td>@healthcare.StreetName</td>
                    <td>@healthcare.City</td>
                    <td>@healthcare.Zipcode</td>

                </tr>
            }
        }
    </table>
</div>
