@page
@model IS7024_Project.Pages.HealthcareModel
@{
    var healthcares = (QuickType1.Healthcare[])ViewData["Healthcare"];
}

<div class="text-center">
    <h1 class="featurette-heading" style="color:crimson">Healthcare Locations</h1>
    <table class="table table-bordered" >

        <tr>
            <th>Healthcare Center</th>
            <th>Neighborhood</th>
            <th>Services</th>
            <th>Street Name</th>
            <th>City</th>
            <th>Zip Code</th>

        </tr>
        @{
            foreach (QuickType1.Healthcare healthcare in healthcares)
            {
                <tr>
                    <td>@healthcare.HealthCenter</td>
                    <td>@healthcare.Neighborhood</td>
                    <td>@healthcare.ServicesProvided</td>
                    <td>@healthcare.StreetName</td>
                    <td>@healthcare.City</td>
                    <td>@healthcare.Zipcode</td>

                </tr>
            }
        }
    </table>
</div>
