@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var properties = (QuickType.Property[])ViewData["Property"];
  
  

}

<div class="text-center">
    <h1 class="display-4"><strong>Propety Investment</strong></h1>
    <img src="/images/neighborhood1.jpg" />
    <hr />


   
</div>


<div class="text-center">

    <table>
        <tr>
            <th>Project Type</th>
            <th>Project Number</th>
            <th>Category</th>
            <th>Program Type</th>
            <th>Organization</th>
            <th>Project Name</th>
            <th>Approved By</th>
            <th>Total Cost</th>
            <th>Total Funding</th>
            <th>Total Value</th>
            <th>Street Address</th>
            <th>Zip Code</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Neighborhood</th>
            <th>Community Council Neighborhood</th>
            <th>Agreement</th>
        </tr>
        @{
            foreach (QuickType.Property property in properties)
            {
                <tr>
                    <td>@property.ProjectType</td>
                    <td>@property.ProjectNo</td>
                    <td>@property.ProjectCategory</td>
                    <td>@property.ProgramType</td>
                    <td>@property.OrganizationLegalName</td>
                    <td>@property.ProjectName</td>
                    <td>@property.ApprovedByCityCouncil</td>
                    <td>@property.TotalProjectCostEst</td>
                    <td>@property.TotalFundingAllSourcesEst</td>
                    <td>@property.EstProgramTotalValue</td>
                    <td>@property.SiteStreetAddress</td>
                    <td>@property.ZipCode</td>
                    <td>@property.Longitude</td>
                    <td>@property.Latitude</td>
                    <td>@property.Neighborhood</td>
                    <td>@property.CommunityCouncilNeighborhood</td>
                    <td>@property.AgreementExecutedByCompany</td>
                </tr>

            }
        }
    </table>
    <hr />

   