@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var properties = (QuickType.Property[])ViewData["Property"];

   /* var healthcares = (QuickType1.Healthcare[])ViewData["Healthcare"];*/
}

<div class="text-center">
    <h1 id="myHeader">Property Investment</h1>

    <img src="/images/neighborhood1.jpg" height="300" width="800" />
    <hr />

</div>

<hr />

<form name="search" method="get" action="https://data.cincinnati-oh.gov/resource/m76i-p5p9.json">

    <label> Property </label>
    <input type="text" name="project_type" />
    <input type="submit" value="Search by Property Type" />
</form>

<hr />

<form name="search" method="get" action="https://data.cincinnati-oh.gov/resource/m76i-p5p9.json">
    <label for="Property">Property</label>
    <input type="text" name="neighborhood">
    <input type="submit" value="Search Propery by Neighborhood">
</form>

<hr />

<form name ="search" method ="get" action="https://data.cincinnati-oh.gov/resource/v8yh-wpss.json">
    <label for="healthcare">Healthcare</label>
    <input type="text"  name="neighborhood">
    <input type="submit" value="Search Healthcare by Neighborhood">
</form>

<br />


<select name="PropertyType">
    <option value="OFFICE" method="get" action="https://data.cincinnati-oh.gov/resource/v8yh-wpss.json">OFFICE</option>
    <option value="RESIDENTIAL">RESIDENTIAL</option>
    <option value="MIXED USE">MIXED USE</option>    
    <option value="PublicInfrastructure">PublicInfrastructure</option>
</select>
<br />
<hr />
<div class="text-center">


    <table class="table table-bordered">
        <tr>
            <th>Project Type</th>          
            <th>Project Name</th>
            <th>Street Address</th>
            <th>Zip Code</th>
            <th>Neighborhood</th>
            <th>Community Council Neighborhood</th>
        </tr>

        @{
            foreach (QuickType.Property property in properties)
            {
                <tr>
                    <td>@property.ProjectType</td>                  
                    <td>@property.ProjectName</td>
                    <td>@property.SiteStreetAddress</td>
                    <td>@property.ZipCode</td>
                    <td>@property.Neighborhood</td>
                    <td>@property.CommunityCouncilNeighborhood</td>                
                </tr>

            }
        }
    </table>

    <hr />

    


</div>
<hr />

